// color
$primary-color: #FB6E12;
$secondary-color: #F79C0E;
$third-color: #FFDE59;;
$white-color: #FFFFFF;
$black-color: #000000;
$word-color: #333333;

$shadow-box: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
// modal background
$bg-modal:rgba(0, 0, 0, 0.33);

