@font-face {
    font-family: 'mon-900';
    src: url('../font/Montserrat-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-800';
    src: url('../font/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-700';
    src: url('../font/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-600';
    src: url('../font/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-500';
    src: url('../font/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-400';
    src: url('../font/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-300';
    src: url('../font/Montserrat-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'oswald-700';
    src: url('../font/Oswald-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'oswald-600';
    src: url('../font/Oswald-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'oswald-500';
    src: url('../font/Oswald-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'oswald-400';
    src: url('../font/Oswald-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'oswald-300';
    src: url('../font/Oswald-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Kaushan';
    src: url('../font/KaushanScript-Regular.ttf') format('truetype');
}


